# WIP (v0)

In [4]:
import pandas as pd

df = pd.read_csv('./gender_submission.csv')

In [5]:
df.head(10)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0