# Time series analysis sample (Bike Sharing Data)

- Bike Sharing Dataset Data Set https://archive.ics.uci.edu/ml/datasets/Bike+Sharing+Dataset

In [1]:
import pandas as pd


# Dataset
DF_RAW = pd.read_csv(
    "day.csv",
    parse_dates=[1]
)

In [2]:
# Prepare dataset to use.
display(DF_RAW.head(3))
display(DF_RAW.tail(3))

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [3]:
# Data preprocessing and splitting.
df = DF_RAW[
    ['dteday', 'registered']
]
df.columns = ['ds', 'y']

display(df.head(3))

          ds     y
0 2011-01-01   654
1 2011-01-02   670
2 2011-01-03  1229

In [4]:
day_border = pd.to_datetime('2012-11-01')
index_train = df['ds'] < day_border
index_test = df['ds'] >= day_border

X_train = df[index_train]
X_test = df[index_test]
date_test = df['ds'][index_test]