In [2]:
"""Pandas samples
"""
import numpy as np
import pandas as pd

series = pd.Series(
    [1, 2, 3]
)
series

0    1
1    2
2    3
dtype: int64

In [5]:
series.sum()

6

In [13]:
# Represents two-dimensional array.
df_simple = pd.DataFrame(
    {
        'A': [1, 2],
        'B': [3, 4],
    }
)
df_simple

   A  B
0  1  3
1  2  4

In [12]:
df_random = pd.DataFrame(
    np.random.randn(
        5, 3
    )
)
df_random

          0         1         2
0  1.162582  0.386717  0.676285
1 -0.387935  1.077920  0.121010
2  0.912256 -1.516640  1.113488
3 -0.311908 -1.203586 -0.534489
4 -1.188391 -0.059747  2.779948

In [21]:
df_any_period = pd.DataFrame(
    np.random.randn(5, 3),
    index=pd.date_range(
        '20221201',
        periods=5
    ),
    columns=['A', 'B', 'C']
)
df_any_period

                   A         B         C
2022-12-01 -0.332921 -0.711340  1.148911
2022-12-02 -1.009581 -0.257115  0.010697
2022-12-03  1.073745  0.203765  1.208458
2022-12-04 -0.772181  0.434377 -0.536755
2022-12-05 -0.678222 -0.668636  0.167815

In [22]:
df_any_period.T

   2022-12-01  2022-12-02  2022-12-03  2022-12-04  2022-12-05
A   -0.332921   -1.009581    1.073745   -0.772181   -0.678222
B   -0.711340   -0.257115    0.203765    0.434377   -0.668636
C    1.148911    0.010697    1.208458   -0.536755    0.167815