# NLP: Questions Classification (v0)

ML Sample of Natural Language Processing.

- For environment test and confirmation.

## Dataset

[Quora Insincere Questions Classification](https://www.kaggle.com/competitions/quora-insincere-questions-classification/overview)
> Detect toxic content to improve online conversations

In [1]:
import pandas as pd

In [2]:
# Load Train Dataset
df_train = pd.read_csv(
    './raw_data/train.csv',
    na_filter=False
)

display(df_train)

,qid,question_text,target
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0
...,...,...,...
1306117,ffffcc4e2331aaf1e41e,What other technical skills do you need as a c...,0
1306118,ffffd431801e5a2f4861,Does MS in ECE have good job prospects in USA ...,0
1306119,ffffd48fb36b63db010c,Is foam insulation toxic?,0
1306120,ffffec519fa37cf60c78,How can one start a research project based on ...,0
1306121,ffffed09fedb5088744a,Who wins in a battle between a Wolverine and a...,0

In [3]:
df_train_target_values = df_train['target'].value_counts().sort_index()

print(df_train_target_values)

0    1225312
1      80810
Name: target, dtype: int64

In [4]:
# Load Test Dataset
df_test = pd.read_csv("./raw_data/test.csv")

display(df_test)

,qid,question_text
0,0000163e3ea7c7a74cd7,Why do so many women become so rude and arroga...
1,00002bd4fb5d505b9161,When should I apply for RV college of engineer...
2,00007756b4a147d2b0b3,What is it really like to be a nurse practitio...
3,000086e4b7e1c7146103,Who are entrepreneurs?
4,0000c4c3fbe8785a3090,Is education really making good people nowadays?
...,...,...
375801,ffff7fa746bd6d6197a9,How many countries listed in gold import in in...
375802,ffffa1be31c43046ab6b,Is there an alternative to dresses on formal p...
375803,ffffae173b6ca6bfa563,Where I can find best friendship quotes in Tel...
375804,ffffb1f7f1a008620287,What are the causes of refraction of light?
375805,fffff85473f4699474b0,Climate change is a worrying topic. How much t...

In [5]:
# Load Sample Dataset
df_sample = pd.read_csv("./raw_data/sample_submission.csv")

display(df_sample)

                         qid  prediction
0       0000163e3ea7c7a74cd7           0
1       00002bd4fb5d505b9161           0
2       00007756b4a147d2b0b3           0
3       000086e4b7e1c7146103           0
4       0000c4c3fbe8785a3090           0
...                      ...         ...
375801  ffff7fa746bd6d6197a9           0
375802  ffffa1be31c43046ab6b           0
375803  ffffae173b6ca6bfa563           0
375804  ffffb1f7f1a008620287           0
375805  fffff85473f4699474b0           0

[375806 rows x 2 columns]

In [6]:
df_sample_prediction_values = df_sample['prediction'].value_counts().sort_index()

print(df_sample_prediction_values)

0    375806
Name: prediction, dtype: int64

In [7]:
# Prepare Dataset for trial submit
df_test['prediction'] = 0

df_final = df_test[
    ['qid', 'prediction']
]

display(df_final)

                         qid  prediction
0       0000163e3ea7c7a74cd7           0
1       00002bd4fb5d505b9161           0
2       00007756b4a147d2b0b3           0
3       000086e4b7e1c7146103           0
4       0000c4c3fbe8785a3090           0
...                      ...         ...
375801  ffff7fa746bd6d6197a9           0
375802  ffffa1be31c43046ab6b           0
375803  ffffae173b6ca6bfa563           0
375804  ffffb1f7f1a008620287           0
375805  fffff85473f4699474b0           0

[375806 rows x 2 columns]

In [8]:
df_final_prediction_values = df_final['prediction'].value_counts().sort_index()

print(df_final_prediction_values)

0    375806
Name: prediction, dtype: int64

In [9]:
df_final.to_csv(
    'v0_all_set_to_zero.csv',
    index=False
)