# NLP: Sentiment analysis on Movie Reviews (v0)

ML Sample of Natural Language Processing.

- For environment test and confirmation.

## Dataset

Sentiment Analysis on Movie Reviews
> Classify the sentiment of sentences from the Rotten Tomatoes dataset

https://www.kaggle.com/competitions/sentiment-analysis-on-movie-reviews

In [1]:
import pandas as pd

pd.set_option("display.max_colwidth", 140)

In [2]:
# Load Train Dataset
df_train = pd.read_csv(
    "./raw_data/train.tsv",
    delimiter="\t",
    na_filter=False
)

display(df_train.head(30))

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,"A series of escapades demonstrating the adage that what is good for the goose is also good for the gander , some of which occasionally a...",1
1,2,1,A series of escapades demonstrating the adage that what is good for the goose,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what is good for the goose,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is good for the goose,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for the goose,2
10,11,1,demonstrating the adage,2
11,12,1,demonstrating,2
12,13,1,the adage,2
13,14,1,the,2
14,15,1,adage,2
15,16,1,that what is good for the goose,2
16,17,1,that,2
17,18,1,what is good for the goose,2
18,19,1,what,2
19,20,1,is good for the goose,2
20,21,1,is,2
21,22,1,good for the goose,3
22,23,1,good,3
23,24,1,for the goose,2
24,25,1,for,2
25,26,1,the goose,2
26,27,1,goose,2
27,28,1,"is also good for the gander , some of which occasionally amuses but none of which amounts to much of a story .",2
28,29,1,"is also good for the gander , some of which occasionally amuses but none of which amounts to much of a story",2
29,30,1,is also,2

In [3]:
# Load Test Dataset
df_test = pd.read_csv(
    "./raw_data/test.tsv",
    delimiter="\t",
    na_filter=False
)

display(df_test)

,PhraseId,SentenceId,Phrase
0,156061,8545,An intermittently pleasing but mostly routine effort .
1,156062,8545,An intermittently pleasing but mostly routine effort
2,156063,8545,An
3,156064,8545,intermittently pleasing but mostly routine effort
4,156065,8545,intermittently pleasing but mostly routine
...,...,...,...
66287,222348,11855,"A long-winded , predictable scenario ."
66288,222349,11855,"A long-winded , predictable scenario"
66289,222350,11855,"A long-winded ,"
66290,222351,11855,A long-winded
66291,222352,11855,predictable scenario

In [4]:
# Load Sample Dataset
df_sample = pd.read_csv(
    "./raw_data/sampleSubmission.csv"
)

display(df_sample)

       PhraseId  Sentiment
0        156061          2
1        156062          2
2        156063          2
3        156064          2
4        156065          2
...         ...        ...
66287    222348          2
66288    222349          2
66289    222350          2
66290    222351          2
66291    222352          2

[66292 rows x 2 columns]

In [5]:
# Prepare Dataset for trial submit
df_test['Sentiment'] = 1

df_final = df_test[
    ['PhraseId', 'Sentiment']
]

display(df_final)

       PhraseId  Sentiment
0        156061          1
1        156062          1
2        156063          1
3        156064          1
4        156065          1
...         ...        ...
66287    222348          1
66288    222349          1
66289    222350          1
66290    222351          1
66291    222352          1

[66292 rows x 2 columns]

In [6]:
print(
    df_final[df_final['Sentiment'] == 1].shape[0]
)

66292

In [7]:
df_final.to_csv(
    'v0_trial_submit.csv',
    index=False
)