# NLP: Sentiment analysis on Movie Reviews (v1)

ML Sample of Natural Language Processing.

- For environment test and confirmation.

## Dataset

Sentiment Analysis on Movie Reviews
> Classify the sentiment of sentences from the Rotten Tomatoes dataset

https://www.kaggle.com/competitions/sentiment-analysis-on-movie-reviews

In [1]:
import pandas as pd

pd.set_option("display.max_colwidth", 140)

In [3]:
# Load Train Dataset
df_train = pd.read_csv(
    "./raw_data/train.tsv",
    delimiter="\t",
    na_filter=False
)

display(df_train)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,"A series of escapades demonstrating the adage that what is good for the goose is also good for the gander , some of which occasionally a...",1
1,2,1,A series of escapades demonstrating the adage that what is good for the goose,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2